# 微信小程序 CI 配置
WX_APPID=your-wechat-mini-program-appid
WX_APPSECRET=your-wechat-mini-program-appsecret
WX_PRIVATE_KEY_PATH=/path/to/private.yourappid.key
MP_PROJECT_PATH=D:\projects(WIN)\badminton-miniapp-preview
MP_ROBOT=1
MP_VERSION=
MP_DESC=

# CloudBase 非交互式部署配置
# 前往 https://console.cloud.tencent.com/cam/capi 获取密钥
TENCENTCLOUD_SECRETID=AKIDxxxxx
TENCENTCLOUD_SECRETKEY=xxxxx
CLOUDBASE_ENV_ID=cloud1-1ghmqjyt6428702b
